.header {
    overflow: hidden;
    padding: 1em;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 1;
}

.navIcon, .navLink {
    float: left;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
}

.navLink {
    margin-top: 10px;
}

.homeButton {
    float: left;
}

.navbar {
    float: right;
}

img.icon {
    width: 2em;
}

img.icon:hover {
    opacity: .5;
}
  
/*** Menu Icon ***/
.responsive {
    display: block;
    float: right;
}
.notResponsive {
    display: none;
    float: none;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
.bar1Change {
    transform: translate(0, 11px) rotate(-45deg);
}
.bar2Change {
    opacity: 0;
}
.bar3Change {
    transform: translate(0, -11px) rotate(45deg);
}