/* Global Styles! */
* {
  background-color: #000;
  color: #fff;
  box-sizing: border-box;
}

/* Center Stuff */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  text-justify: inter-word;
  padding-left: 1em;
  padding-right: 1em;
  width: 70%;
  margin-right:auto;
  margin-left:auto;
}

.portraitWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

/*** Images ***/
img {
  width: 100%;
}

/*** HOVERING *** styling (that can't be fit into module css) */
a:hover {
  color: rgb(94, 91, 105);
  cursor: pointer;
}

nav > a:hover {
  text-decoration: none;
  color: rgb(94, 91, 105);
}

/* LOGO styling */
/* remove default styles from default button */
.logo {
  font-size: 100%;
  font-family: 'Lobster Two', Georgia, 'Times New Roman', Times, serif;
  border: 0;
  padding: 0;
  color: #fff;
  font-size: 3.5em;
}

.logo:hover,
.logo:focus {
  color: rgb(94, 91, 105);
  cursor: pointer;
}

.logo:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.logo:active {
  transform: scale(0.99);
}

@media screen and (max-width: 500px) {
  .portraitWrapper {
    margin-top: 50px;
  }

  main {
    width: 100%;
  }
}
